In [94]:
import pandas as pd

In [95]:
data = pd.read_csv("BasePronta.csv", encoding = "ISO-8859-1")

In [96]:
data

,V0001,C006,C008,C011,D001,D00201,D008,D00901,E001,E002,...,Q11605,Q11606,Q119,Q120,Q12201,Q12301,Q124,Q132,Q133,column1
0,11,2.0,55.0,1.0,1.0,2.0,1.0,5.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Rondônia
1,11,1.0,69.0,1.0,1.0,2.0,2.0,NaN,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rondônia
2,11,1.0,31.0,4.0,1.0,2.0,1.0,10.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rondônia
3,11,1.0,9.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rondônia
4,11,2.0,6.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rondônia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293721,53,2.0,49.0,4.0,1.0,2.0,1.0,10.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Distrito Federal
293722,53,1.0,84.0,3.0,1.0,2.0,1.0,14.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Distrito Federal
293723,53,1.0,21.0,4.0,1.0,1.0,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Distrito Federal
293724,53,2.0,13.0,4.0,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Distrito Federal
293725,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Distrito Federal

In [97]:
temD = data[data['Q092'] == 1]

In [98]:
temD

,V0001,C006,C008,C011,D001,D00201,D008,D00901,E001,E002,...,Q11605,Q11606,Q119,Q120,Q12201,Q12301,Q124,Q132,Q133,column1
0,11,2.0,55.0,1.0,1.0,2.0,1.0,5.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Rondônia
51,11,1.0,42.0,1.0,1.0,2.0,1.0,14.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Rondônia
62,11,2.0,33.0,4.0,1.0,2.0,1.0,13.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,1.0,14.0,Rondônia
73,11,2.0,49.0,3.0,1.0,2.0,1.0,12.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,1.0,14.0,Rondônia
181,11,2.0,58.0,1.0,1.0,2.0,1.0,5.0,2.0,2.0,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Rondônia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293584,53,2.0,48.0,4.0,2.0,2.0,1.0,4.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,1.0,1.0,Distrito Federal
293610,53,2.0,77.0,4.0,1.0,2.0,1.0,5.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Distrito Federal
293629,53,1.0,49.0,1.0,1.0,2.0,1.0,10.0,1.0,NaN,...,2.0,1.0,1.0,2.0,NaN,NaN,2.0,2.0,NaN,Distrito Federal
293694,53,2.0,51.0,4.0,1.0,2.0,1.0,10.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,1.0,7.0,Distrito Federal
293718,53,1.0,54.0,1.0,1.0,2.0,1.0,11.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Distrito Federal

In [99]:
semD = data[data['Q092'] == 2]

In [152]:
semD

,V0001,C006,C008,C011,D001,D00201,D008,D00901,E001,E002,...,Q11605,Q11606,Q119,Q120,Q12201,Q12301,Q124,Q132,Q133,column1
9,11,2.0,19.0,4.0,1.0,2.0,1.0,10.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Rondônia
10,11,2.0,45.0,4.0,1.0,2.0,1.0,10.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Rondônia
18,11,2.0,58.0,3.0,2.0,2.0,1.0,4.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Rondônia
19,11,2.0,28.0,4.0,1.0,1.0,NaN,NaN,2.0,2.0,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Rondônia
21,11,1.0,81.0,4.0,1.0,2.0,1.0,5.0,2.0,2.0,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Rondônia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293702,53,2.0,26.0,4.0,1.0,2.0,1.0,10.0,2.0,2.0,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Distrito Federal
293709,53,2.0,54.0,1.0,1.0,2.0,1.0,10.0,1.0,NaN,...,NaN,NaN,NaN,1.0,42.0,1.0,2.0,2.0,NaN,Distrito Federal
293712,53,1.0,44.0,2.0,1.0,2.0,1.0,10.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Distrito Federal
293713,53,2.0,32.0,1.0,1.0,2.0,1.0,7.0,2.0,2.0,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Distrito Federal
293720,53,1.0,32.0,4.0,1.0,2.0,1.0,7.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Distrito Federal

In [100]:
dataGeral = pd.concat([semD, temD])

In [101]:
dataGeral

,V0001,C006,C008,C011,D001,D00201,D008,D00901,E001,E002,...,Q11605,Q11606,Q119,Q120,Q12201,Q12301,Q124,Q132,Q133,column1
9,11,2.0,19.0,4.0,1.0,2.0,1.0,10.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Rondônia
10,11,2.0,45.0,4.0,1.0,2.0,1.0,10.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Rondônia
18,11,2.0,58.0,3.0,2.0,2.0,1.0,4.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Rondônia
19,11,2.0,28.0,4.0,1.0,1.0,NaN,NaN,2.0,2.0,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Rondônia
21,11,1.0,81.0,4.0,1.0,2.0,1.0,5.0,2.0,2.0,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Rondônia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293584,53,2.0,48.0,4.0,2.0,2.0,1.0,4.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,1.0,1.0,Distrito Federal
293610,53,2.0,77.0,4.0,1.0,2.0,1.0,5.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Distrito Federal
293629,53,1.0,49.0,1.0,1.0,2.0,1.0,10.0,1.0,NaN,...,2.0,1.0,1.0,2.0,NaN,NaN,2.0,2.0,NaN,Distrito Federal
293694,53,2.0,51.0,4.0,1.0,2.0,1.0,10.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,1.0,7.0,Distrito Federal
293718,53,1.0,54.0,1.0,1.0,2.0,1.0,11.0,1.0,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,Distrito Federal

# Rodando o modelo

In [102]:
dataGeral2 = dataGeral.drop(['V0001', 'column1'], axis = 1)

In [103]:
dataGeral2

,C006,C008,C011,D001,D00201,D008,D00901,E001,E002,E01201,...,Q11009,Q11605,Q11606,Q119,Q120,Q12201,Q12301,Q124,Q132,Q133
9,2.0,19.0,4.0,1.0,2.0,1.0,10.0,1.0,NaN,5132.0,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN
10,2.0,45.0,4.0,1.0,2.0,1.0,10.0,1.0,NaN,9112.0,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN
18,2.0,58.0,3.0,2.0,2.0,1.0,4.0,1.0,NaN,9112.0,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN
19,2.0,28.0,4.0,1.0,1.0,NaN,NaN,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN
21,1.0,81.0,4.0,1.0,2.0,1.0,5.0,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293584,2.0,48.0,4.0,2.0,2.0,1.0,4.0,1.0,NaN,7512.0,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2.0,1.0,1.0
293610,2.0,77.0,4.0,1.0,2.0,1.0,5.0,1.0,NaN,5221.0,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN
293629,1.0,49.0,1.0,1.0,2.0,1.0,10.0,1.0,NaN,9111.0,...,NaN,2.0,1.0,1.0,2.0,NaN,NaN,2.0,2.0,NaN
293694,2.0,51.0,4.0,1.0,2.0,1.0,10.0,1.0,NaN,6112.0,...,2.0,NaN,NaN,NaN,2.0,NaN,NaN,2.0,1.0,7.0
293718,1.0,54.0,1.0,1.0,2.0,1.0,11.0,1.0,NaN,7514.0,...,2.0,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN

In [138]:
dataGeral3 = dataGeral2.dropna(axis =1, thresh = 10000)

In [139]:
dataGeral3

,C006,C008,C011,D001,D00201,D008,D00901,E001,E002,E01201,...,Q03001,Q060,Q06306,Q074,Q088,Q092,Q11006,Q120,Q124,Q132
9,2.0,19.0,4.0,1.0,2.0,1.0,10.0,1.0,NaN,5132.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
10,2.0,45.0,4.0,1.0,2.0,1.0,10.0,1.0,NaN,9112.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
18,2.0,58.0,3.0,2.0,2.0,1.0,4.0,1.0,NaN,9112.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
19,2.0,28.0,4.0,1.0,1.0,NaN,NaN,2.0,2.0,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
21,1.0,81.0,4.0,1.0,2.0,1.0,5.0,2.0,2.0,NaN,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293584,2.0,48.0,4.0,2.0,2.0,1.0,4.0,1.0,NaN,7512.0,...,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0
293610,2.0,77.0,4.0,1.0,2.0,1.0,5.0,1.0,NaN,5221.0,...,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0
293629,1.0,49.0,1.0,1.0,2.0,1.0,10.0,1.0,NaN,9111.0,...,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0
293694,2.0,51.0,4.0,1.0,2.0,1.0,10.0,1.0,NaN,6112.0,...,2.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0
293718,1.0,54.0,1.0,1.0,2.0,1.0,11.0,1.0,NaN,7514.0,...,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0

In [149]:
dataGeral3

,OneHot__D00901_1.0,OneHot__D00901_2.0,OneHot__D00901_3.0,OneHot__D00901_4.0,OneHot__D00901_5.0,OneHot__D00901_6.0,OneHot__D00901_7.0,OneHot__D00901_8.0,OneHot__D00901_9.0,OneHot__D00901_10.0,...,remainder__Q03001,remainder__Q060,remainder__Q06306,remainder__Q074,remainder__Q088,remainder__Q092,remainder__Q11006,remainder__Q120,remainder__Q124,remainder__Q132
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90841,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0
90842,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0
90843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0
90844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,2.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0
90845,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0

# Tranformação de colunas

In [150]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [151]:
transformer = ColumnTransformer(transformers=[('OneHot', OneHotEncoder(), ["D00901", "C011"])], remainder='passthrough')

In [143]:
X_prev = transformer.fit_transform(dataGeral3)

In [144]:
dataGeral3 = pd.DataFrame(
    X_prev, 
    columns=transformer.get_feature_names_out()
)

In [145]:
dataGeral3

,OneHot__D00901_1.0,OneHot__D00901_2.0,OneHot__D00901_3.0,OneHot__D00901_4.0,OneHot__D00901_5.0,OneHot__D00901_6.0,OneHot__D00901_7.0,OneHot__D00901_8.0,OneHot__D00901_9.0,OneHot__D00901_10.0,...,remainder__Q03001,remainder__Q060,remainder__Q06306,remainder__Q074,remainder__Q088,remainder__Q092,remainder__Q11006,remainder__Q120,remainder__Q124,remainder__Q132
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90841,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0
90842,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0
90843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0
90844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,2.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0
90845,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0

# Imputacao

In [146]:
from sklearn.impute import KNNImputer
imputer = KNNImputer()

In [147]:
imp = imputer.fit_transform(dataGeral3)

In [148]:
dataGeral3 = pd.DataFrame(imp, columns = list(dataGeral3.columns))

In [126]:
dataGeral3 = dataGeral3.fillna(0)

In [127]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [128]:
from sklearn.model_selection import train_test_split

In [129]:
X = dataGeral3.drop('remainder__Q092', axis = 1)
y = dataGeral3['remainder__Q092']

In [130]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [160]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(random_state=42, max_depth=80, max_features=3, min_samples_leaf=3,
                       min_samples_split=12, n_estimators=300)

In [161]:
prevRF = RF.fit(X_train, y_train).predict(X_test)

In [162]:
confusion_matrix(y_test, prevRF)

array([[   22,  1653],
       [    4, 16491]], dtype=int64)

In [163]:
print(classification_report(y_test, prevRF))

              precision    recall  f1-score   support

         1.0       0.85      0.01      0.03      1675
         2.0       0.91      1.00      0.95     16495

    accuracy                           0.91     18170
   macro avg       0.88      0.51      0.49     18170
weighted avg       0.90      0.91      0.87     18170

# Random Under Sampler

In [133]:
from imblearn.under_sampling import RandomUnderSampler

In [164]:
rus = RandomUnderSampler(random_state=42)
X_resRUS, y_resRUS = rus.fit_resample(X, y)

In [165]:
X_trainR2, X_testR2, y_trainR2, y_testR2 = train_test_split(X_resRUS, y_resRUS, test_size=0.3, random_state=42)

In [166]:
prevRUS = RF.fit(X_trainR2, y_trainR2).predict(X_testR2)

In [167]:
print(classification_report(y_testR2, prevRUS))

              precision    recall  f1-score   support

         1.0       0.76      0.73      0.74      2534
         2.0       0.73      0.76      0.75      2466

    accuracy                           0.74      5000
   macro avg       0.75      0.75      0.74      5000
weighted avg       0.75      0.74      0.74      5000

In [168]:
from sklearn.model_selection import GridSearchCV

In [169]:
param_grid = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}

In [170]:
grid_search = GridSearchCV(estimator = RF, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [157]:
grid_search.fit(X_trainR2, y_trainR2)

Fitting 3 folds for each of 288 candidates, totalling 864 fits

GridSearchCV(cv=3, estimator=RandomForestClassifier(random_state=42), n_jobs=-1,
             param_grid={'bootstrap': [True], 'max_depth': [80, 90, 100, 110],
                         'max_features': [2, 3], 'min_samples_leaf': [3, 4, 5],
                         'min_samples_split': [8, 10, 12],
                         'n_estimators': [100, 200, 300, 1000]},
             verbose=2)

In [159]:
grid_search.best_estimator_

RandomForestClassifier(max_depth=80, max_features=3, min_samples_leaf=3,
                       min_samples_split=12, n_estimators=300, random_state=42)

# Under Sampling

In [35]:
y.value_counts()

2.0    82514
1.0     8332
Name: Q092, dtype: int64

In [36]:
from imblearn.under_sampling import TomekLinks

In [37]:
tl = TomekLinks()

In [38]:
X_res, y_res = tl.fit_resample(X, y)

In [39]:
y_res.value_counts()

2.0    79592
1.0     8332
Name: Q092, dtype: int64

In [40]:
X_trainR, X_testR, y_trainR, y_testR = train_test_split(X_res, y_res, test_size=0.2, random_state=42)

In [41]:
prevRF = RF.fit(X_trainR, y_trainR).predict(X_testR)

In [42]:
print(classification_report(y_testR, prevRF))

              precision    recall  f1-score   support

         1.0       0.68      0.16      0.26      1641
         2.0       0.92      0.99      0.95     15944

    accuracy                           0.91     17585
   macro avg       0.80      0.58      0.61     17585
weighted avg       0.90      0.91      0.89     17585

# Over Sampling

In [43]:
from imblearn.over_sampling import SMOTE
oversample = SMOTE()

In [44]:
X_res2, y_res2 = oversample.fit_resample(X_trainR, y_trainR)

In [45]:
y_res2.value_counts()

2.0    63648
1.0    63648
Name: Q092, dtype: int64

In [46]:
prevRF = RF.fit(X_res2, y_res2).predict(X_testR)

In [47]:
print(classification_report(y_testR, prevRF))

              precision    recall  f1-score   support

         1.0       0.59      0.20      0.30      1641
         2.0       0.92      0.99      0.95     15944

    accuracy                           0.91     17585
   macro avg       0.76      0.59      0.62     17585
weighted avg       0.89      0.91      0.89     17585